[alias]
branchname = "symbolic-ref --short -q HEAD"
co = "checkout"
cp = "cherry-pick"
fixup = "!git log -n 50 --oneline --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

[merge]
conflictstyle = "diff3"

[notes]
rewriteMode = "overwrite"
rewriteRef = "refs/notes/commits"

[pull]
rebase = false

[user]
email = "d4hines@gmail.com"
name = "Daniel Hines"

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true